@model IEnumerable<EasyWay.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars</h1>

<table id="cars" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Μάρκα-Μοντέλο</th>
            <th>Έτος Κατασκευής</th>
            <th>Πινακίδα</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>

<p>

    @Html.ActionLink("New Car", "New", "Cars", null, new { @class = "btn btn-primary" })

</p>

@section scripts
{
    <script>
        $(document).ready(function () {
           var table = $("#cars").DataTable({
                ajax: {
                    url: "/api/cars",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "brand",
                        render: function (data, type, car) {
                            return "<a href='/cars/edit/" + car.id + "'>" + car.brand + "</a>";
                        }
                    },
                    {
                        data: "yearManufactured",

                    },

                    {
                        data: "licensePlate",

                    },

                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-car-id=" + data + ">Delete</button>";
                        }
                    }

                ]

            });


            $("#cars").on("click", ".js-delete", function () {
                var button = $(this);


                bootbox.confirm("Are you sure you want to delete this car?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/car/" + button.attr("data-car-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                         });
                    }

                });
            });

        });
    </script>




}