@model IEnumerable<EasyWay.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cars</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Μάρκα-Μοντέλο</th>
            <th>Έτος Κατασκευής</th>
            <th>Πινακίδα</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.YearManufactured</td>
                <td>@car.LicensePlate</td>
            </tr>
        }
    </tbody>

</table>

